.page {
  margin-top: 70px;
  min-height: calc(100vh - 250px);
}

.page-title {
  font-family: "DIN Neuzeit Grotesk LT W01 BdCn";
  font-size: 45px;
  font-weight: normal;
  color: rgb(38, 100, 69);
}

.sponsors-btn {
  margin-top: 16px;
  text-transform: uppercase;
  font-size: 14px;
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  padding: 10px;
  font-family: inherit;
  text-shadow: none;
  user-select: none;
  transition: all, 0.1s, ease-in;
  background-color: #ffa500;
  border: 1px solid #ffa500;
  color: #ffffff;
}

.page-text {
  letter-spacing: 0.05rem;
  font-size: 1.125rem;
  line-height: 1.6rem;
  color: rgb(38, 100, 69);
}

/* rgb(38,100,69) */

.page-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: "Avenir Light";
  width: 75%;
}

.large-button {
  font-family: "DIN Next LT W04 Light";
}

.page-flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.zoom {
  /* padding: 50px; */
  /* background-color: green; */
  transition: transform 0.2s; /* Animation */
  /* width: 200px;
  height: 200px; */
  /* margin: 0 auto; */
}

.zoom:hover {
  transform: scale(
    1.5
  ); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

.bg-video {
  /* position: absolute; */
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* mask-image: linear-gradient(to top, transparent 0%, black 50%, transparent 100%); */
  user-select: none;
  pointer-events: none;
  /* filter: grayscale(0.8); */
  aspect-ratio: 16/9;
}

.iframe-fix {
  position: relative;
  z-index: 100;
  background-color: floralwhite;
  margin-bottom: 1px;
}

.header-shadow {
  text-shadow: 3px 2px rgba(0, 0, 0, 1);
}

.event-time {
  background-color: #266445;
  width: max-content;
  padding: 5px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}

.gallery-img {
  height: 30%;
  width: 30%;
}

/* .gallery-img:hover {
  transform: scale(2);
  z-index: 200;
  margin: 0 auto;
  border: 2px solid white;
  position: absolute;
} */
.logo {
  height: 100px;
}

.faq-color {
  color: #266445;
}

.link-color,
.link-color:hover,
.link-color:visited,
.link-color:active {
  color: #266445;
}
