.page {
  margin-top: 70px;
  min-height: calc(100vh - 250px);
}

.page-title {
  font-family: "DIN Neuzeit Grotesk LT W01 BdCn";
  font-size: 45px;
  font-weight: normal;
  color: rgb(38, 100, 69);
}

.sponsors-btn {
  margin-top: 16px;
  text-transform: uppercase;
  font-size: 14px;
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  padding: 10px;
  font-family: inherit;
  text-shadow: none;
  user-select: none;
  transition: all, 0.1s, ease-in;
  background-color: #ffa500;
  border: 1px solid #ffa500;
  color: #ffffff;
}